* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
}

.active_fx_ind {
  overflow: hidden;
  top: 0 !important;
}

.fixed-index {
  display: block;
  position: fixed;
  z-index: 999999 !important;
  left: 0;
  top: -100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(32, 50, 94, 0.8);
}

.fixed-index .fixed_content {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.fixed-index .fixed_content .svg {
  position: relative;
  top: 50%;
  left: 50%;
  height: 400px !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 2500px) {
  .fixed-index .fixed_content .svg {
    top: 30%;
  }
}

@media (max-width: 767px) {
  .fixed-index .fixed_content .svg {
    padding: 0 100px;
    top: 5%;
  }
}

@media (max-width: 450px) {
  .fixed-index .fixed_content .svg {
    padding: unset !important;
    top: 10%;
  }
}

.fixed-index .fixed_content .svg .active_fx_land {
  fill: #D4D4D6 !important;
}

.fixed-index .fixed_content .svg .land {
  -webkit-transform-origin: 50% 50% !important;
          transform-origin: 50% 50% !important;
  fill: black;
  -webkit-transition: fill 0.6s;
  transition: fill 0.6s;
  width: 100%;
  height: 100%;
}

.fixed-index .fixed_content .fixed_row_map {
  height: 100% !important;
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 50%;
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1250px) {
  .fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a {
  width: 145px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 450px) {
  .fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a {
    width: 100px !important;
    font-size: 15px;
  }
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a:hover:before, .fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_more a:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_title {
  margin-top: 100px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 1250px) {
  .fixed-index .fixed_content .fixed_row_map .col-md-6 .fx_title {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
  }
}

.fixed-index .fixed_content .information_content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 70px 0;
}

@media (max-width: 767px) {
  .fixed-index .fixed_content .information_content {
    padding-bottom: unset !important;
  }
}

.fixed-index .fixed_content .information_content ::-webkit-scrollbar {
  display: none;
}

.fixed-index .fixed_content .information_content .fas {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 30px;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed-index .fixed_content .information_content .fas:hover {
  color: red;
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.fixed-index .fixed_content .information_content p {
  overflow: auto;
  height: 100%;
  color: #fff;
  text-align: justify;
}

@media (max-width: 767px) {
  .fixed-index .fixed_content .information_content p img {
    width: 100% !important;
  }
}

.fixed-index .fixed_content .information_content p > :nth-child(even) {
  width: 500px;
  float: left;
  margin: 20px 20px 20px 0;
}

.fixed-index .fixed_content .information_content p > :nth-child(odd) {
  width: 500px;
  float: right;
  margin: 20px 0 20px 20px;
}

.index-main {
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-main .map-content {
  width: 90%;
  height: 100%;
}

.index-main .map-content #GEO3015 {
  stroke: red;
}

.index-main .map-content .land {
  fill: #F0F0F1;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  cursor: pointer;
}

.index-main .map-content .land:hover {
  fill: #D4D4D6;
}

.main_header {
  padding: unset !important;
  border-bottom: 1px solid #abb2b2;
}

.main_header nav {
  height: 100%;
  width: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0rem !important;
}

.main_header nav ul .mainpage {
  background: #66666D;
  border: none;
}

.main_header nav ul li {
  border-left: 1px solid #abb2b2;
  padding: 10px 15px;
}

.main_header nav ul li a {
  color: #abb2b2;
  font-family: BPG-DejaVu;
}

.main_header nav ul li > :hover {
  color: #fff;
}

.each_page_header {
  height: 60vh;
  overflow: hidden;
}

.each_page_header .header_owl, .each_page_header .single_gallery_owl {
  height: 100%;
}

.each_page_header .header_owl .row, .each_page_header .single_gallery_owl .row {
  height: 100%;
}

.each_page_header .header_owl .row .col-lg-12, .each_page_header .single_gallery_owl .row .col-lg-12 {
  height: 100%;
  padding: unset !important;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel {
  height: 100%;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel .owl-stage-outer, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel .owl-stage-outer {
  height: 100%;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage {
  height: 100%;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item .item, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
  height: 100%;
  overflow: hidden;
}

.each_page_header .header_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item .item img, .each_page_header .single_gallery_owl .row .col-lg-12 .owl-carousel .owl-stage-outer .owl-stage .owl-item .item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_main_page {
  padding-top: 50px;
}

.main-page {
  background: #f2f2f2;
}

.main-page .container {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.main-page .container .sectionss {
  display: none;
}

.main-page .container .active_srch_frm {
  right: 90px !important;
}

.main-page .container .search_form {
  position: absolute;
  right: -100%;
  top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}

.main-page .container .search_form input {
  padding: 15px 10px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #c9c7c8;
  outline: none;
  border-radius: 5px;
}

.main-page .container .header_menu nav {
  width: 100%;
  padding: 10px 20px;
  background: #D4D4D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .container .header_menu nav .head_logo {
  width: 50px;
}

.main-page .container .header_menu nav .head_logo img {
  width: 100%;
}

.main-page .container .header_menu nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0rem !important;
}

.main-page .container .header_menu nav ul li {
  margin: 0 10px;
}

.main-page .container .header_menu nav ul li .search_btn {
  cursor: pointer;
  font-size: 25px;
  color: #C71F43;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-page .container .header_menu nav ul li .search_btn:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-page .container .header_menu nav ul li .active_head_menu {
  border-color: #C71F43;
}

.main-page .container .header_menu nav ul li span {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: BPG-DejaVu;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 450px) {
  .main-page .container .header_menu nav ul li span {
    width: 100px !important;
    font-size: 15px;
  }
}

.main-page .container .header_menu nav ul li span:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page .container .header_menu nav ul li span:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page .container .header_menu nav ul li span:hover:before, .main-page .container .header_menu nav ul li span:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.main-page .container .tours, .main-page .container .hotels, .main-page .container .sightseeing {
  padding-top: 100px;
}

.main-page .container .tours .each_tour, .main-page .container .hotels .each_tour, .main-page .container .sightseeing .each_tour {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-page .container .tours .each_tour:hover, .main-page .container .hotels .each_tour:hover, .main-page .container .sightseeing .each_tour:hover {
  -webkit-transform: translatey(-10px);
          transform: translatey(-10px);
}

.main-page .container .tours .each_tour .tour_image, .main-page .container .hotels .each_tour .tour_image, .main-page .container .sightseeing .each_tour .tour_image {
  height: 250px;
}

.main-page .container .tours .each_tour .tour_image img, .main-page .container .hotels .each_tour .tour_image img, .main-page .container .sightseeing .each_tour .tour_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-page .container .tours .each_tour .tour_description, .main-page .container .hotels .each_tour .tour_description, .main-page .container .sightseeing .each_tour .tour_description {
  border-left: 1px solid #0B4460;
  border-right: 1px solid #0B4460;
  border-bottom: 1px solid #0B4460;
  padding: 20px 15px 10px 15px;
}

.main-page .container .tours .each_tour .tour_description p, .main-page .container .hotels .each_tour .tour_description p, .main-page .container .sightseeing .each_tour .tour_description p {
  font-family: BPG-DejaVu;
  text-align: justify;
  font-size: 13px;
}

.main-page .container .tours .each_tour .tour_description h6, .main-page .container .hotels .each_tour .tour_description h6, .main-page .container .sightseeing .each_tour .tour_description h6 {
  font-family: BPG-DejaVu;
  padding: 10px 0;
  color: #C71F43;
}

.main-page .container .tours .each_tour .tour_description .each_road_info, .main-page .container .hotels .each_tour .tour_description .each_road_info, .main-page .container .sightseeing .each_tour .tour_description .each_road_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page .container .tours .each_tour .tour_description .each_read_more, .main-page .container .hotels .each_tour .tour_description .each_read_more, .main-page .container .sightseeing .each_tour .tour_description .each_read_more {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-page .container .tours .each_tour .tour_description .each_read_more a, .main-page .container .hotels .each_tour .tour_description .each_read_more a, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: BPG-DejaVu;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #c9c7c8;
  color: #C71F43;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 450px) {
  .main-page .container .tours .each_tour .tour_description .each_read_more a, .main-page .container .hotels .each_tour .tour_description .each_read_more a, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a {
    width: 100px !important;
    font-size: 15px;
  }
}

.main-page .container .tours .each_tour .tour_description .each_read_more a:after, .main-page .container .hotels .each_tour .tour_description .each_read_more a:after, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page .container .tours .each_tour .tour_description .each_read_more a:before, .main-page .container .hotels .each_tour .tour_description .each_read_more a:before, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-color: #C71F43;
  border-style: solid;
  border-width: 0 2px 2px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-page .container .tours .each_tour .tour_description .each_read_more a:hover:before, .main-page .container .tours .each_tour .tour_description .each_read_more a:hover:after, .main-page .container .hotels .each_tour .tour_description .each_read_more a:hover:before, .main-page .container .hotels .each_tour .tour_description .each_read_more a:hover:after, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a:hover:before, .main-page .container .sightseeing .each_tour .tour_description .each_read_more a:hover:after {
  width: calc( 100% + 4px);
  height: calc( 100% + 4px);
}

.main-page .container .tours .each_tour .tour_description .each_location, .main-page .container .tours .each_tour .tour_description .each_date,
.main-page .container .tours .each_tour .tour_description .each_weather, .main-page .container .hotels .each_tour .tour_description .each_location, .main-page .container .hotels .each_tour .tour_description .each_date,
.main-page .container .hotels .each_tour .tour_description .each_weather, .main-page .container .sightseeing .each_tour .tour_description .each_location, .main-page .container .sightseeing .each_tour .tour_description .each_date,
.main-page .container .sightseeing .each_tour .tour_description .each_weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.main-page .container .tours .each_tour .tour_description .each_location .fas, .main-page .container .tours .each_tour .tour_description .each_date .fas,
.main-page .container .tours .each_tour .tour_description .each_weather .fas, .main-page .container .hotels .each_tour .tour_description .each_location .fas, .main-page .container .hotels .each_tour .tour_description .each_date .fas,
.main-page .container .hotels .each_tour .tour_description .each_weather .fas, .main-page .container .sightseeing .each_tour .tour_description .each_location .fas, .main-page .container .sightseeing .each_tour .tour_description .each_date .fas,
.main-page .container .sightseeing .each_tour .tour_description .each_weather .fas {
  margin-right: 20px;
  font-size: 20px;
  color: #0B4460;
}

.main-page .container .tours .each_tour .tour_description .each_location span, .main-page .container .tours .each_tour .tour_description .each_date span,
.main-page .container .tours .each_tour .tour_description .each_weather span, .main-page .container .hotels .each_tour .tour_description .each_location span, .main-page .container .hotels .each_tour .tour_description .each_date span,
.main-page .container .hotels .each_tour .tour_description .each_weather span, .main-page .container .sightseeing .each_tour .tour_description .each_location span, .main-page .container .sightseeing .each_tour .tour_description .each_date span,
.main-page .container .sightseeing .each_tour .tour_description .each_weather span {
  font-size: 15px;
  font-family: BPG-DejaVu;
}

.main-page .single_gallery .single_carussel {
  height: 100%;
  background: #fff;
  padding: 15px;
}

.main-page .single_gallery .single_carussel .hotel_act_image {
  height: 450px !important;
}

.main-page .single_gallery .single_carussel .active_single_image {
  width: 100%;
  height: 400px;
}

.main-page .single_gallery .single_carussel .active_single_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-page .single_gallery .single_carussel .single-owl {
  padding-top: 15px;
}

.main-page .single_gallery .single_carussel .single-owl .item {
  cursor: move;
}

.main-page .single_gallery .single_carussel .single-owl .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-page .single_about_hotel, .main-page .hotel_species {
  padding-top: 15px;
}

.main-page .hotel_species {
  width: 100% !important;
  padding-left: unset !important;
}

@media (max-width: 1000px) {
  .main-page .hotel_species {
    padding: 15px !important;
  }
}

.main-page .hotel_species .hottel_price .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 15px 15px;
  font-family: BPG-DejaVu;
}

.main-page .hotel_species .hottel_price .payment .gel {
  font-size: 20px;
  color: #0B4460;
  margin-right: 5px;
}

.main-page .hotel_species .hottel_price .payment .gel .price {
  margin-right: 10px;
}

.main-page .hotel_species .hottel_price .payment .gel_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #312C46;
  font-size: 15px;
  color: #fff;
  position: relative;
}

.main-page .hotel_species .hottel_price .payment .gel_symbol span {
  position: relative;
  z-index: 99;
}

.main-page .hotel_species .hottel_price .payment .gel_symbol:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #F5D3AB;
}

.main-page .hotel_species .specy {
  float: left;
  width: 50%;
}

@media (max-width: 767px) {
  .main-page .hotel_species .specy {
    width: 100%;
    float: unset !important;
  }
}

.main-page .hotel_species .specy .fas {
  color: green;
}

.main-page .hotel_species .specy span {
  margin-left: 10px;
  font-family: BPG-DejaVu;
  color: #C71F43;
}

.main-page .single_about_tour .tour_information, .main-page .single_about_tour .hotel_information, .main-page .single_about_tour .about_hottel, .main-page .single_about_hotel .tour_information, .main-page .single_about_hotel .hotel_information, .main-page .single_about_hotel .about_hottel, .main-page .hotel_species .tour_information, .main-page .hotel_species .hotel_information, .main-page .hotel_species .about_hottel {
  height: 100%;
  padding: 15px;
  background: #fff;
}

.main-page .single_about_tour .tour_information .hotel_stars, .main-page .single_about_tour .hotel_information .hotel_stars, .main-page .single_about_tour .about_hottel .hotel_stars, .main-page .single_about_hotel .tour_information .hotel_stars, .main-page .single_about_hotel .hotel_information .hotel_stars, .main-page .single_about_hotel .about_hottel .hotel_stars, .main-page .hotel_species .tour_information .hotel_stars, .main-page .hotel_species .hotel_information .hotel_stars, .main-page .hotel_species .about_hottel .hotel_stars {
  padding-bottom: 20px;
}

.main-page .single_about_tour .tour_information .hotel_stars .far, .main-page .single_about_tour .hotel_information .hotel_stars .far, .main-page .single_about_tour .about_hottel .hotel_stars .far, .main-page .single_about_hotel .tour_information .hotel_stars .far, .main-page .single_about_hotel .hotel_information .hotel_stars .far, .main-page .single_about_hotel .about_hottel .hotel_stars .far, .main-page .hotel_species .tour_information .hotel_stars .far, .main-page .hotel_species .hotel_information .hotel_stars .far, .main-page .hotel_species .about_hottel .hotel_stars .far {
  color: #C19D0A;
}

.main-page .single_about_tour .tour_information .share_in_social, .main-page .single_about_tour .hotel_information .share_in_social, .main-page .single_about_tour .about_hottel .share_in_social, .main-page .single_about_hotel .tour_information .share_in_social, .main-page .single_about_hotel .hotel_information .share_in_social, .main-page .single_about_hotel .about_hottel .share_in_social, .main-page .hotel_species .tour_information .share_in_social, .main-page .hotel_species .hotel_information .share_in_social, .main-page .hotel_species .about_hottel .share_in_social {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .single_about_tour .tour_information .share_in_social .facebook_share, .main-page .single_about_tour .hotel_information .share_in_social .facebook_share, .main-page .single_about_tour .about_hottel .share_in_social .facebook_share, .main-page .single_about_hotel .tour_information .share_in_social .facebook_share, .main-page .single_about_hotel .hotel_information .share_in_social .facebook_share, .main-page .single_about_hotel .about_hottel .share_in_social .facebook_share, .main-page .hotel_species .tour_information .share_in_social .facebook_share, .main-page .hotel_species .hotel_information .share_in_social .facebook_share, .main-page .hotel_species .about_hottel .share_in_social .facebook_share {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 8px;
  color: #fff;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4e69a2), color-stop(50%, #3b5998));
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
}

.main-page .single_about_tour .tour_information .share_in_social .facebook_share .fab, .main-page .single_about_tour .hotel_information .share_in_social .facebook_share .fab, .main-page .single_about_tour .about_hottel .share_in_social .facebook_share .fab, .main-page .single_about_hotel .tour_information .share_in_social .facebook_share .fab, .main-page .single_about_hotel .hotel_information .share_in_social .facebook_share .fab, .main-page .single_about_hotel .about_hottel .share_in_social .facebook_share .fab, .main-page .hotel_species .tour_information .share_in_social .facebook_share .fab, .main-page .hotel_species .hotel_information .share_in_social .facebook_share .fab, .main-page .hotel_species .about_hottel .share_in_social .facebook_share .fab {
  margin-right: 10px;
}

.main-page .single_about_tour .tour_information h1, .main-page .single_about_tour .hotel_information h1, .main-page .single_about_tour .about_hottel h1, .main-page .single_about_hotel .tour_information h1, .main-page .single_about_hotel .hotel_information h1, .main-page .single_about_hotel .about_hottel h1, .main-page .hotel_species .tour_information h1, .main-page .hotel_species .hotel_information h1, .main-page .hotel_species .about_hottel h1 {
  font-size: 16px;
  color: #C71F43;
  padding: 15px;
  font-family: BPG-DejaVu;
}

.main-page .single_about_tour h2, .main-page .single_about_hotel h2, .main-page .hotel_species h2 {
  margin-right: 10px;
  margin-bottom: 0rem !important;
  font-size: 17px;
  color: #C71F43;
  font-family: BPG-DejaVu;
}

.main-page .single_about_tour .contact_info, .main-page .single_about_hotel .contact_info, .main-page .hotel_species .contact_info {
  margin: 20px 0;
  border: 1px solid #0B4460;
  padding: 5px 0;
}

.main-page .single_about_tour .contact_info .info_title, .main-page .single_about_hotel .contact_info .info_title, .main-page .hotel_species .contact_info .info_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-page .single_about_tour .contact_info .cont_info_content, .main-page .single_about_hotel .contact_info .cont_info_content, .main-page .hotel_species .contact_info .cont_info_content {
  padding: 10px 0 10px 50px;
  width: 100%;
}

.main-page .single_about_tour .contact_info .cont_info_content div, .main-page .single_about_hotel .contact_info .cont_info_content div, .main-page .hotel_species .contact_info .cont_info_content div {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .single_about_tour .contact_info .fas, .main-page .single_about_hotel .contact_info .fas, .main-page .hotel_species .contact_info .fas {
  width: 30px;
  margin-right: 20px;
  font-size: 20px;
  color: #0B4460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .single_about_tour .contact_info span, .main-page .single_about_hotel .contact_info span, .main-page .hotel_species .contact_info span {
  font-size: 15px;
  font-family: BPG-DejaVu;
}

.main-page .single_about_tour .checking_time span, .main-page .single_about_hotel .checking_time span, .main-page .hotel_species .checking_time span {
  color: #C71F43;
}

.main-page .single_about_tour .each_location, .main-page .single_about_tour .each_date, .main-page .single_about_tour .each_weather, .main-page .single_about_tour .checking_time,
.main-page .single_about_tour .each_browser, .main-page .single_about_tour .each_phone, .main-page .single_about_tour .each_envelope, .main-page .single_about_hotel .each_location, .main-page .single_about_hotel .each_date, .main-page .single_about_hotel .each_weather, .main-page .single_about_hotel .checking_time,
.main-page .single_about_hotel .each_browser, .main-page .single_about_hotel .each_phone, .main-page .single_about_hotel .each_envelope, .main-page .hotel_species .each_location, .main-page .hotel_species .each_date, .main-page .hotel_species .each_weather, .main-page .hotel_species .checking_time,
.main-page .hotel_species .each_browser, .main-page .hotel_species .each_phone, .main-page .hotel_species .each_envelope {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .single_about_tour .each_location .fas, .main-page .single_about_tour .each_location .fab, .main-page .single_about_tour .each_date .fas, .main-page .single_about_tour .each_date .fab, .main-page .single_about_tour .each_weather .fas, .main-page .single_about_tour .each_weather .fab, .main-page .single_about_tour .checking_time .fas, .main-page .single_about_tour .checking_time .fab,
.main-page .single_about_tour .each_browser .fas,
.main-page .single_about_tour .each_browser .fab, .main-page .single_about_tour .each_phone .fas, .main-page .single_about_tour .each_phone .fab, .main-page .single_about_tour .each_envelope .fas, .main-page .single_about_tour .each_envelope .fab, .main-page .single_about_hotel .each_location .fas, .main-page .single_about_hotel .each_location .fab, .main-page .single_about_hotel .each_date .fas, .main-page .single_about_hotel .each_date .fab, .main-page .single_about_hotel .each_weather .fas, .main-page .single_about_hotel .each_weather .fab, .main-page .single_about_hotel .checking_time .fas, .main-page .single_about_hotel .checking_time .fab,
.main-page .single_about_hotel .each_browser .fas,
.main-page .single_about_hotel .each_browser .fab, .main-page .single_about_hotel .each_phone .fas, .main-page .single_about_hotel .each_phone .fab, .main-page .single_about_hotel .each_envelope .fas, .main-page .single_about_hotel .each_envelope .fab, .main-page .hotel_species .each_location .fas, .main-page .hotel_species .each_location .fab, .main-page .hotel_species .each_date .fas, .main-page .hotel_species .each_date .fab, .main-page .hotel_species .each_weather .fas, .main-page .hotel_species .each_weather .fab, .main-page .hotel_species .checking_time .fas, .main-page .hotel_species .checking_time .fab,
.main-page .hotel_species .each_browser .fas,
.main-page .hotel_species .each_browser .fab, .main-page .hotel_species .each_phone .fas, .main-page .hotel_species .each_phone .fab, .main-page .hotel_species .each_envelope .fas, .main-page .hotel_species .each_envelope .fab {
  width: 30px;
  margin-right: 20px;
  font-size: 20px;
  color: #0B4460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .single_about_tour .each_location span, .main-page .single_about_tour .each_date span, .main-page .single_about_tour .each_weather span, .main-page .single_about_tour .checking_time span,
.main-page .single_about_tour .each_browser span, .main-page .single_about_tour .each_phone span, .main-page .single_about_tour .each_envelope span, .main-page .single_about_hotel .each_location span, .main-page .single_about_hotel .each_date span, .main-page .single_about_hotel .each_weather span, .main-page .single_about_hotel .checking_time span,
.main-page .single_about_hotel .each_browser span, .main-page .single_about_hotel .each_phone span, .main-page .single_about_hotel .each_envelope span, .main-page .hotel_species .each_location span, .main-page .hotel_species .each_date span, .main-page .hotel_species .each_weather span, .main-page .hotel_species .checking_time span,
.main-page .hotel_species .each_browser span, .main-page .hotel_species .each_phone span, .main-page .hotel_species .each_envelope span {
  font-size: 15px;
  font-family: BPG-DejaVu;
}

.main-page .single_about_tour .tour_price, .main-page .single_about_hotel .tour_price, .main-page .hotel_species .tour_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0B4460;
  margin-bottom: 20px !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.main-page .single_about_tour .tour_price .fas, .main-page .single_about_hotel .tour_price .fas, .main-page .hotel_species .tour_price .fas {
  width: 30px;
  margin-right: 20px;
  font-size: 20px;
  color: #0B4460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .single_about_tour .tour_price .payment, .main-page .single_about_hotel .tour_price .payment, .main-page .hotel_species .tour_price .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 15px 15px;
}

.main-page .single_about_tour .tour_price .payment .gel, .main-page .single_about_hotel .tour_price .payment .gel, .main-page .hotel_species .tour_price .payment .gel {
  font-size: 20px;
  color: #0B4460;
  margin-right: 10px;
}

.main-page .single_about_tour .tour_price .payment .gel_symbol, .main-page .single_about_hotel .tour_price .payment .gel_symbol, .main-page .hotel_species .tour_price .payment .gel_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #312C46;
  font-size: 15px;
  color: #fff;
  position: relative;
}

.main-page .single_about_tour .tour_price .payment .gel_symbol span, .main-page .single_about_hotel .tour_price .payment .gel_symbol span, .main-page .hotel_species .tour_price .payment .gel_symbol span {
  position: relative;
  z-index: 99;
}

.main-page .single_about_tour .tour_price .payment .gel_symbol:after, .main-page .single_about_hotel .tour_price .payment .gel_symbol:after, .main-page .hotel_species .tour_price .payment .gel_symbol:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #F5D3AB;
}

.main-page .tour_description, .main-page .hotel_description, .main-page .signseeing_description {
  padding: 15px;
}

.main-page .tour_description .payment, .main-page .hotel_description .payment, .main-page .signseeing_description .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.main-page .tour_description .payment .gel, .main-page .hotel_description .payment .gel, .main-page .signseeing_description .payment .gel {
  font-size: 20px;
  color: #0B4460;
  margin-right: 5px;
}

.main-page .tour_description .payment .gel > :first-child, .main-page .hotel_description .payment .gel > :first-child, .main-page .signseeing_description .payment .gel > :first-child {
  margin-right: 15px;
  color: #C71F43;
  font-size: 15px;
  font-family: BPG-DejaVu;
}

.main-page .tour_description .payment .gel_symbol, .main-page .hotel_description .payment .gel_symbol, .main-page .signseeing_description .payment .gel_symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #312C46;
  font-size: 15px;
  color: #fff;
  position: relative;
}

.main-page .tour_description .payment .gel_symbol span, .main-page .hotel_description .payment .gel_symbol span, .main-page .signseeing_description .payment .gel_symbol span {
  position: relative;
  z-index: 99;
}

.main-page .tour_description .payment .gel_symbol:after, .main-page .hotel_description .payment .gel_symbol:after, .main-page .signseeing_description .payment .gel_symbol:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #F5D3AB;
}

.main-page .tour_description .desc_content, .main-page .hotel_description .desc_content, .main-page .signseeing_description .desc_content {
  background: #fff;
  padding: 30px;
}

.main-page .tour_description .desc_content h2, .main-page .hotel_description .desc_content h2, .main-page .signseeing_description .desc_content h2 {
  font-size: 17px;
  color: #C71F43;
  padding: 15px 0;
  font-family: BPG-DejaVu;
}

.main-page .tour_description .desc_content p, .main-page .hotel_description .desc_content p, .main-page .signseeing_description .desc_content p {
  text-align: justify;
}

.contact_main {
  padding-top: 50px;
}

.contact_main .page_title {
  padding: 15px;
}

.contact_main .page_title h2 {
  border-radius: 2px;
  text-align: center;
  padding: 15px;
  color: #C71F43;
  font-family: BPG-DejaVu;
}

.contact_main .contact_info form {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
}

.contact_main .contact_info form .btn {
  font-family: BPG-DejaVu;
}

.contact_main .contact_info form .form-group label {
  color: #C71F43;
  font-family: BPG-DejaVu;
}

.contact_main .contact_info form .form-group textarea {
  resize: none;
  height: 150px;
}

.contact_main .contact_map .map_content {
  border-radius: 5px;
  padding: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact_main .contact_map .map_content .mapp {
  width: 100%;
  height: 100%;
}

.contact_main .detal_info_contact {
  padding: 15px;
}

.contact_main .detal_info_contact .info_content {
  padding: 15px;
  border-radius: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_main .detal_info_contact .info_content div {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_main .detal_info_contact .info_content div .fas {
  width: 30px;
  margin-right: 20px;
  font-size: 20px;
  color: #C71F43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_main .detal_info_contact .info_content div span {
  font-size: 15px;
  font-family: BPG-DejaVu;
}

footer {
  background: #000;
}

footer .container {
  padding: 30px 0;
}

footer .container .copyright {
  color: #fff;
  font-family: BPG-DejaVu;
}

@media (max-width: 450px) {
  footer .container .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */